* {
    /* border: 1px solid red; */
    font-family: "Source Sans", sans-serif;
    background-color: "#D0D0D0";
}

html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
}

.title {
    flex: auto;
    display: flex;
    /* Use Flexbox layout */
    align-items: center;
    gap: 10px;
}

.assertion {
    /* display: flex; */
    justify-content: space-between;
    gap: 20px;
    /* Sets the gap between items */
}

#c2paDialog {
    background-color: turquoise;
}

#container {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px solid #808080;
    border-radius: 5px;
}

.separator {
    border-bottom: 1px solid #E0E0E0;
    margin: 10px 0;
}

.thumbnail {
    width: 6em;
    object-fit: contain;
}

.certs {
    margin: 1em;
}

.cert-item {
    margin: 0;
    padding: 0;
}


.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapsible-header {
    cursor: pointer;
    user-select: none;
    /* Optional: prevents text selection */
}

.collapsible-header span.collapsible-icon {
    float: right;
    font-size: large;
    font-weight: bold;
    padding-bottom: .6em;
}

/* Example of expanded state style for transition effect */
.collapsible-content.expanded {
    max-height: 500px;
    /* Adjust as needed, or use 'none' */
}

.collapsible {
    max-height: 500px;
}

.section-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0;
    display: inline;
    margin: 1;
}

.ingredient {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: .2em;
}

#errors {
    background: rgb(174, 0, 0);
    border-radius: .6em;
    color: white;
    padding: .5em;
}

p.text-item {
    margin-left: 0.5em;
}

.action-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: .2em;
}